.main {
  .home {
    background-color: red;
  }

}

.companiesList {
  display: flex;
  justify-content: space-around;
}

.companyCard {
  position: relative;
  background-color: aqua;
  width: 12rem;
  height: 8rem;
  padding: 1rem;
  cursor: pointer;

  >img {
    width: 140px;
    height: 300px;
  }
}